:root {
    --fontPoppins: 'Poppins', sans-serif;
    --colorBlueLight: #3b43c2;
    --colorBlueMid: #364296;
    --colorBlueDark: #202b87;
    --colorYellowLight: #fece30;
    --colorYellowDark: #ffa841;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: var(--fontPoppins);
}

.app-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlueDark);
    height: 10vh;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

.app-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30vw 70vw;
    background-color: var(--colorYellowDark);
    height: 60vh;
}

.topic-container {
    box-sizing: border-box;
    padding: 0.5rem;
}

.topic-container > h3 {
    color: #ffffff;
}

.topic-container > form {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.topic-container > form > button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.topic-container > form > button:hover {
    border: 1px solid #ffffff;
}

.topic-container > form > input {
    padding: 3px;
    font-size: 1rem;
    font-weight: 100;
}

.topic-container > ul {
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: scroll;
}

.topic-container > ul > li {
    padding: 0.5rem;
    color: #ffffff;
    list-style: square;
}

.topic-container > ul > li:hover {
    font-weight: 700;
    cursor: pointer;
}

.tasks-container {
    box-sizing: border-box;
    padding: 0.5rem 2rem;
}

.tasks-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin-bottom: -1rem;
}

.tasks-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 40vh;
    overflow-y: scroll;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 3px 1.5rem;
}

.task-item:hover {
    border: 4px solid #000000;
}

.input-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlueLight);
    height: 15vh;
}

.input-container > form {
    display: flex;
    gap: 0.5rem;
}

.input-container > form > button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: 700;
}

.input-container > form > button:hover {
    border: 3px solid #000000;
}

.input-container > form > input {
    height: 3rem;
    width: 70vw;
    padding: 0.5rem;
    font-size: 1rem;
}

.buttons-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorYellowLight);
    height: 15vh;
}