:root {
    --fontPoppins: 'Poppins', sans-serif;
    --colorBlueLight: #3b43c2;
    --colorBlueMid: #364296;
    --colorBlueDark: #202b87;
    --colorYellowLight: #fece30;
    --colorYellowDark: #ffa841;
}

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: var(--fontPoppins);
}

.app-name {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlueDark);
    height: 10vh;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}

.app-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30vw 70vw;
    background-color: var(--colorYellowDark);
    height: 60vh;
}

.input-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorBlueLight);
    height: 15vh;
}

.buttons-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorYellowLight);
    height: 15vh;
}